.mat-headline-4 {
  margin: 1%;
  text-align: center;
  color: #96b5ff;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

th {
  background-color: #abc4ff !important;
}

td {
  background-color: #d7e3fc !important;
}

.tasks-table {
  margin: 0 auto;
  max-width: 1500px;
}

