mat-card {
  max-width: 1500px;
  margin: 2% auto;
  margin-top: 0;
  background-color: #d7e3fc;
}

mat-form-field {
  width: 200px !important;
}

.button-task-add {
  text-align: center;
}

.task-edit-title {
  text-align: center;
  color: #96b5ff !important;
  text-shadow: black 1px 1px;
}
